
.cabinas-section {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #f9f9f9, #f1f1f1);
  text-align: center;
  margin-top: 5rem;
}


.cabinas-header h2 {
   color: #1f6b4a;
  font-size: 4rem;
  position: relative;
  margin-bottom: 2rem;
}

.cabinas-header h2::after {
  content: "";
  width: 12%;
  height: 3px;
  background: #c9a46a;
  position: absolute;
  bottom: -10px;
  left: 45%;
  border-radius: 2px;
}
.cabinas-header p {
  color: #777;
  margin-bottom: 70px;
  font-size: 18px;
}


.cabinas-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


@media (min-width: 768px) {
  .cabinas-grid {
    flex-direction: row;
    justify-content: center;
  }

  .cabinas-grid::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70%;
    background: linear-gradient(
      to bottom,
      transparent,
      #c9a46a,
      #1f6b4a,
      transparent
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.cabina-card {
  background: white;
  width: 350px;
  padding: 50px 40px;
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.4s ease;
  z-index: 1;
  cursor: pointer;
}

.cabina-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.12);
}


.cabina-top-line {
  height: 4px;
  width: 80px;
  background: linear-gradient(135deg, #c9a46a, #1f6b4a);
  margin: 0 auto 25px;
  border-radius: 20px;
}


.cabina-card h3 {
  font-size: 28px;
  font-family: "Lora", serif;
  color: #1f3d36;
  margin-bottom: 25px;
}


.cabina-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.cabina-card li {
  margin-bottom: 12px;
  color: #555;
  font-family: "Roboto
}

.cabina-btn {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #c9a46a, #1f6b4a);
  border: none;
  padding: 14px 32px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Elevación suave */
.cabina-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}


.cabina-btn:hover::before {
  left: 100%;
}
